<form class="clearfix">
	<div class="form-inline pull-left">
		<div class="form-group-sm">
			<button class="btn-xs btn-default" ng-click="remove();" type="button">
				<small><span class="glyphicon glyphicon-remove"></span></small>
			</button>
			<select class="form-control" ng-model="selected" ng-options="option for option in options"></select>

			<p class="form-control-static input-sm">&lt;=&gt;</p>
		</div>
	</div>
	<div class="use-remaining-width">
		<input class="form-control input-sm" ng-model="filterValue" type="text" />
	</div>
</form>
