<az-sidebar-wrapper id="filter">
	<az-sidebar>
		<az-filter filter="customers" output="filteredCustomers" filter-options="filterOptions"></az-filter>
	</az-sidebar>
	<az-sidebar-content>
		<div class="page-header">
			<h1>Customer list</h1>
		</div>

		<form class="form-inline" ng-submit="createCustomer(newCustomer);">
			<div class="form-group">
				<label class="sr-only" for="uniqueName">Unique name</label>
				<input class="form-control" id="uniqueName" type="text" ng-model="newCustomer.uniqueName"
						placeholder="Unique name" />

				<label class="sr-only" for="firstName">First name</label>
				<input class="form-control" id="firstName" type="text" ng-model="newCustomer.firstName"
						placeholder="First name" />

				<label class="sr-only" for="lastName">Last name</label>
				<input class="form-control" id="lastName" type="text" ng-model="newCustomer.lastName"
						placeholder="Last name" />

				<label class="sr-only" for="type">Type</label>
				<input class="form-control" id="type" type="text" ng-model="newCustomer.type" placeholder="Type" />

				<label class="sr-only" for="status">Status</label>
				<input class="form-control" id="status" type="text" ng-model="newCustomer.relationshipStatus"
						placeholder="Status" />

				<label class="sr-only" for="currentTask">Current task</label>
				<input class="form-control" id="currentTask" type="text" ng-model="newCustomer.currentTask"
						placeholder="Current task" />


				<button class="btn btn-default" type="submit">
					Add customer
				</button>
			</div>
		</form>

		<table class="table table-bordered">
			<tr az-sort="filteredCustomers" az-sort-output="sortedCustomers">
				<th class="col-md-2" az-sort-field="type">
					Type
				</th>
				<th class="col-md-2" az-sort-field="lastName,firstName">
					Name
				</th>
				<th class="col-md-2">
					Company
				</th>
				<th class="col-md-3" az-sort-field="relationshipStatus">
					Status
				</th>
				<th class="col-md-3" az-sort-field="currentTask">
					Task
				</th>
				<th>
				</th>
			</tr>

			<tr ng-repeat="customer in sortedCustomers">
				<td>{{ customer.type }}</td>
				<td>{{ customer.firstName }} {{ customer.lastName }}</td>
				<td>{{ customer.companies | json }}</td>
				<td>{{ customer.relationshipStatus }}</td>
				<td>{{ customer.currentTask }}</td>

				<td>
					<button class="btn btn-primary" type="button" ng-click="deleteCustomer(customer);">Delete</button>
				</td>
			</tr>
		</table>

	</az-sidebar-content>
</az-sidebar-wrapper>
